.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output

/deno/utility-mini-card
/static/image/card
/static/image/divider
/static/image/custom/utility-mini-card/full
/static/image/custom/utility-mini-card/mpc
/static/image/custom/utility-mini-card/drive
/static/image/custom/utility-mini-card/display
.yarn
/.firebase